@import './../../../assets/styles/default.scss';

/*day selected*/
::ng-deep .ui-datepicker table td > a.ui-state-active {
    color: $yellow !important;
    background-color: $darkGrey !important;
    border-radius: 100%;
    font-weight: bold;
}

/*calendar header*/
::ng-deep .ui-datepicker .ui-datepicker-header {
    background-color: $darkGrey !important;
    color: $yellow !important;
    font-weight: bold;
    font-size: 1.5em;
    outline: 13px solid $darkGrey;
}

::ng-deep .ui-datepicker-month {
    color: $yellow !important;
    font-weight: 700;
    background-color: $darkGrey;
    border: none;
}

/*day hover*/
::ng-deep .ui-datepicker:not(.ui-state-disabled) table td a:not(.ui-state-active):not(.ui-state-highlight):hover {
    border-radius: 100%;
}

::ng-deep .ui-datepicker .ui-datepicker-header .ui-datepicker-prev, ::ng-deep .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    display: none;
}

/*container with a list of form-groups*/
.list-container {
    padding-right: 10px;
    max-height: 355px;
    overflow-y: auto;
    align-self: auto;
}

/*form-groups*/
.input-line {
    background-color: white;
    padding: 10px;
}

.input-line input{
    background-color: $darkGrey;
    border-radius: inherit;
    color: white;
    
}

/*Remove spin of date input*/
.input-line input::-webkit-outer-spin-button,
.input-line input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-line input[type=number] { -moz-appearance: textfield; }

/*Remove spin of date input*/
.input-line input::placeholder{ color: $darkGrey; }

/* width */
.list-container::-webkit-scrollbar { width: 2px; }
  
  /* Track */
.list-container::-webkit-scrollbar-track { background: $darkGrey; }
  
  /* Handle */
.list-container::-webkit-scrollbar-thumb { background: $yellow; }
  
/* Handle on hover */
.list-container::-webkit-scrollbar-thumb:hover { background: rgb(224, 203, 7); }

/* Day span */
.form-day {
    color: $darkGrey;
    font-size: 1.6em;
    font-weight: 700;
}

/* col - justify-center */
.container > .row > div {
    display: flex;
    flex-direction: column;
} 

.time-invalid {
    color: red;
    font-weight: 600;
}