<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="label">Selecione uma data:</p>
            <p-calendar
                selectionMode="multiple"
                [(ngModel)]="value"            
                [inline]="true"
                [monthNavigator]="true"
                [selectOtherMonths]="false"
                class="align-self-center"
                (click)="clickDate($event)"
                (onSelect)="markDate($event)"
                (onMonthChange)="dates($event)"
                [locale]="br"></p-calendar>
        </div>
        <div class="col-12 col-md-6">
            <p class="label" *ngIf="form['controls'].days['controls'].length">Selecione o horário de entrada e saída:</p>
            <div class="list-container">
                <form [formGroup]="form">
                    <div formArrayName="days">
                        <div *ngFor="let X of form['controls'].days['controls']; let iDay = index">
                            <div id="{{ iDay }}-fb" formGroupName="{{ iDay }}" class="input-line">
                                <div class="row">
                                    <div class="col-2 col-md-2">
                                        <span id="{{ iDay }}-day" class="form-day">--/--</span>
                                      </div>
                                    <div class="col-5 col-md-5">
                                      <input formControlName="entry" class="form-control" placeholder="Entrada" type="time">
                                      <small class="time-invalid" *ngIf="X['controls'].entry.errors && X['controls'].entry.errors.maxLimit">- Horário de entrada Inválido.</small>
                                    </div>
                                    <div class="col-5 col-md-5">
                                      <input formControlName="exit" class="form-control" placeholder="Saída" type="time">
                                      <small class="time-invalid" *ngIf="X['controls'].exit.errors && X['controls'].exit.errors.minLimit">- Horário de saída Inválido.<br></small>
                                      <small class="time-invalid" *ngIf="X['controls'].exit.errors && X['controls'].exit.errors.exitValidator" >- O horário de saída não pode ser menor ou igual que o horário de entrada.</small>
                                    </div>
                                  </div> 
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <hr *ngIf="form.status == 'VALID'"  class="divider">
    
    <app-resumo *ngIf="form.status == 'VALID'"></app-resumo>

</div>