<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="label">Selecione uma data:</p>
            <p-calendar
                selectionMode="multiple"
                [(ngModel)]="value"            
                [inline]="true"
                [monthNavigator]="true"
                [selectOtherMonths]="false"
                class="align-self-center"
                (click)="clickDate($event)"
                (onSelect)="markDate($event)"
                (onMonthChange)="dates($event)"
                [locale]="br"></p-calendar>
        </div>
        <div class="col-12 col-md-6">
            <p class="label">Selecione o horário de entrada e saída:</p>
            <div class="list-container">
                <form [formGroup]="form">
                    <div formArrayName="days">
                        <div *ngFor="let X of form['controls'].days['controls']; let iDay = index">
                            <div id="{{ iDay }}-fb" formGroupName="{{ iDay }}" class="input-line">
                                <div class="row">
                                    <div class="col-2 col-md-2">
                                        <span id="{{ iDay }}-day" class="form-day">--/--</span>
                                      </div>
                                    <div class="col-5 col-md-5">
                                      <input formControlName="entry" class="form-control" placeholder="Entrada" type="time">
                                    </div>
                                    <div class="col-5 col-md-5">
                                      <input formControlName="exit" class="form-control" placeholder="Saída" type="time">
                                    </div>
                                  </div> 
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="divider">
    <form>
        <div class="row">
            <div class="col-12 col-md-12">
                <h1 class="total-hours">Horas trabalhadas:</h1>
                <span>05:09</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label class="result-label label">Banco de Horas:</label>
                <input class="form-control" placeholder="total" type="time">
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-5">
                <label class="result-label label">Hora Extra:</label>
                <input class="form-control" placeholder="total" type="time">
            </div>
        </div>
    </form>
</div>