<form>
    <div class="row">
        <div class="col-12 col-md-12">
            <h1 class="total-hours">Horas trabalhadas:</h1>
            <span>--:--</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label class="result-label label">Banco de Horas:</label>
            <input class="form-control" placeholder="total" type="time">
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5">
            <label class="result-label label">Hora Extra:</label>
            <input class="form-control" placeholder="total" type="time">
        </div>
    </div>
</form>