@import './../../../assets/styles/default.scss';

.navbar-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $darkGrey;
    margin-bottom: 25px;
    span {
        text-transform: uppercase;
        font-weight: 700;
        color: $yellow;
        font-size: 2.5em;
    }
}