@import "node_modules/bootstrap/scss/bootstrap";

$yellow: #ffe708;
$darkGrey: #303030;

button.glyphicon-button:focus,
button.glyphicon-button:active:focus,
button.glyphicon-button.active:focus,
button.glyphicon-button.focus,
button.glyphicon-button:active.focus,
button.glyphicon-button.active.focus,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-text-fill-color: none;
  -webkit-box-shadow: white;
  box-shadow: white;
  transition: background-color 5000s ease-in-out 0s;
}

/*Descriptions*/
.label {
    font-weight: 600;
    color: $darkGrey;    
    align-self: center;
}

.divider { border-top: solid 2px $darkGrey; }