@import './../../../assets/styles/default.scss';

.footer {
    padding: 10px 0;
    background-color: $darkGrey;
    p {
        color: white;
        margin: 0;
        font-size: 0.9em;
    }
}